.task-component{
    padding-top : 5%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding-left: 20%;
    padding-right: 20%;
}
.task-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.task-row label.task-col{
        font-size: 30px;
}
.task-col{
    width: 50%;
    margin: 10px    ;
}
.task-row.task-col{
    width: 50%;
    margin: 10px    ;
    display: flex;
    flex-direction: column;

}
.task-row.task-col div{
    width: 100%; 
    display: flex;
    // justify-content: right;
}
.task-row.task-col div span.task-col{
    width: 95%;
    margin: 0px 0px 0px 5%;
    border: none;
}
.task-col.div{
    margin: 0px;
    display: flex;
    justify-content: left;
}
.submit-button{
    margin-left: 25%;
    margin-right: 25%;
    height: 40px;
    font-size: 25px;
}
.description{
    display:flex;
    align-items: center;
}